body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dfecf7;
}

.btnContainer {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    background-color: #52616b;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 15px;
}

.btnLeft,
.btnRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 5px;
}

.buttons {
    border: 3px solid;
    border-radius: 15px;
    height: 40px;
    width: 150px;
    background-color: #c9d6df;
}

.buttons:hover {
    transition: 0.25s;
    transform: scale(1.1);
}

.ControlDataContainer,
.showDataContainer {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    background-color: #52616b;
    border-radius: 15px;
}

.showDataContainer {
    margin-top: 25px;
    padding: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #52616b;
    border-radius: 15px;
}

.filterDiv {
    display: flex;
    flex-direction: column;
    background-color: #52616b;
    border-radius: 15px;
}